# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.*.local
.env.*
!.env.example

# Security
*.pem
*.key
*.cert
*.pfx
id_rsa
id_rsa.pub
known_hosts
frontend/sistema-sorteios-front/src/services/supabase.js

# Docker
docker/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
.aiprompts/

# Screenshots
.github/screenshots/

# Requests HTTP
backend/requests.http
*.http